.loremIpsumDolorSitAmetConsecte {
    color: #403f3f;
    font-size: 19px;
    line-height: 40px;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: capitalize;
    position: absolute;
    left: 1021px;
    top: 3861px;
    width: 815px;
    height: min-content;
    flex-direction: column;
  }
  .weAreHelpOurClientsForGoal {
    position: absolute;
    left: 985px;
    top: 3661px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .textBlock {
    color: #000;
    font-size: 71px;
    line-height: 81px;
    font-weight: bold;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: uppercase;
  }
  .textBlock2 {
    margin-top: 0;
  }
  .labelWrapper {
    font-size: 57px;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
  }
  .label {
    color: #000;
    font-size: 71px;
    line-height: 81px;
    font-weight: bold;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: uppercase;
  }
  .label2 {
    color: #25758a;
    font-size: 57px;
    line-height: 81px;
    font-weight: 600;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: uppercase;
  }
  .easyBusinessSolution {
    color: #185d6f;
    font-size: 23px;
    line-height: 70px;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: 0.32em;
    text-transform: capitalize;
    position: absolute;
    left: 988px;
    top: 3599px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .rectangle115 {
    position: absolute;
    left: 985px;
    top: 3865px;
    width: 7px;
    height: 111px;
    border-radius: 9px;
    background-color: #25758a;
  }
  .group541 {
    position: absolute;
    left: 509.5px;
    top: 3680px;
    width: 167px;
    height: 137.5px;
    overflow: visible;
  }
  .icon {
    width: 100%;
    height: 100%;
  }
  .rectangle129 {
    position: absolute;
    left: 606px;
    top: 3622px;
    width: 274px;
    height: 264px;
    border-radius: 10px;
    background-image:/* webpackIgnore: true */ url('assets/rectangle129.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rectangle130 {
    position: absolute;
    left: 216px;
    top: 3754px;
    width: 556px;
    height: 618px;
    border-radius: 10px;
    background-image:/* webpackIgnore: true */ url('assets/rectangle130.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rectangle131 {
    position: absolute;
    left: 216px;
    top: 3712px;
    width: 206px;
    height: 22px;
    background-color: #145566;
  }
  .rectangle132 {
    position: absolute;
    left: 102px;
    top: 4244px;
    width: 320px;
    height: 220px;
    background-color: #25758a;
  }
  .rectangle133 {
    position: absolute;
    left: 1041px;
    top: 4080px;
    width: 663px;
    height: 178px;
    background-color: #f8f8f8;
  }
  .rectangle136 {
    position: absolute;
    left: 1041px;
    top: 4286px;
    width: 663px;
    height: 178px;
    background-color: #f8f8f8;
  }
  .rectangle134 {
    position: absolute;
    left: 985px;
    top: 4123px;
    width: 101px;
    height: 100px;
    background-color: #25758a;
  }
  .rectangle135 {
    position: absolute;
    left: 985px;
    top: 4325px;
    width: 101px;
    height: 100px;
    background-color: #25758a;
  }
  .group {
    position: absolute;
    left: 997px;
    top: 4149.1123px;
    width: 75.0006px;
    height: 48.0955px;
    overflow: visible;
  }
  .icon2 {
    width: 100%;
    height: 100%;
  }
  .group546 {
    position: absolute;
    left: 1003px;
    top: 4344px;
    width: 62.7673px;
    height: 62.77px;
    overflow: visible;
  }
  .icon3 {
    width: 100%;
    height: 100%;
  }
  .strategicVisionWork {
    color: #000;
    font-size: 31px;
    line-height: 40px;
    font-weight: bold;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: capitalize;
    position: absolute;
    left: 1106px;
    top: 4112px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .tacticalVisionWork {
    color: #000;
    font-size: 31px;
    line-height: 40px;
    font-weight: bold;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: capitalize;
    position: absolute;
    left: 1106px;
    top: 4311px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .doremIpsumDolorSitAmetConsecte {
    color: #403f3f;
    font-size: 19px;
    line-height: 40px;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: capitalize;
    position: absolute;
    left: 1106px;
    top: 4152px;
    width: 578px;
    height: min-content;
    flex-direction: column;
  }
  .doremIpsumDolorSitAmetConsecte2 {
    color: #403f3f;
    font-size: 19px;
    line-height: 40px;
    font-family: Red Hat Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: capitalize;
    position: absolute;
    left: 1106px;
    top: 4358px;
    width: 578px;
    height: min-content;
    flex-direction: column;
  }
  .logo {
    position: absolute;
    left: 140px;
    top: 4275px;
    width: 244px;
    height: 147px;
    background-image:/* webpackIgnore: true */ url('assets/UMM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  